<div class="sorting-container">
  <div class="array-container">
    <ng-container *ngFor="let item of numbersArray">
      <div class="array-item-wrapper">
        <div class="array-item-value">
          {{item.value}}
        </div>
        <div class="array-item" [ngClass]="{'selected': item.selected, 'sorted': item.sorted}" style.height = "{{item.value}}%">
        </div>
      </div>
    </ng-container>
  </div>
  <app-sorting-controls
    (emitAlgorithm)="emitAlgorithmSelection($event)"
    (emitGenerate)="createNumbesArray()"
    (emitReset)="resetArray()"
    (emitSort)="sort()"
    [runningState]="runningState"
    [sortedState]="sortedState"
    ></app-sorting-controls>
</div>
