.controls-container {
  background-color: var(--black-space);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 40px;
  padding: 20px;
  border-radius: 5px;
  width: 770px;

  .control-item {
    .content-select{
      width: 250px;
      position: relative;

      select {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        display: inline-block;
        width: 100%;
        cursor: pointer;
        padding: 5px 20px;
        border-radius: 5px;
        outline: 0;
        border: 0;
        font-family: 'Montserrat', sans-serif;
        border: 2px solid transparent;
        border-color: var(--golden-dream);
        position: relative;
        transition: all 0.25s ease;
        background-color: var(--black-space);
        color: var(--white-space);

        &:hover {
          box-shadow: 0 0 5px var(--golden-dream), 0 0 10px var(--golden-dream), 0 0 20px var(--golden-dream);
        transition: all 1 ease-in-out;
        }

        &.disabled {
          pointer-events: none;
          opacity: 0.5;
        }
      }

      i {
        position: absolute;
        right: 20px;
        top: calc(50% - 12px);
        width: 16px;
        height: 16px;
        display: block;
        border-left:2px solid var(--golden-dream);
        border-bottom:2px solid var(--golden-dream);
        transform: rotate(-45deg);
        transition: all 0.25s ease;
      }
    }

    .control-button {
      text-decoration: none;
      color: inherit;
      padding: 5px 20px;
      border-radius: 5px;
      border: 2px solid transparent;
      border-color: var(--golden-dream);
      cursor: pointer;

      &.disabled {
        pointer-events: none;
        opacity: 0.5;
      }

      &:hover, .active {
        box-shadow: 0 0 5px var(--golden-dream), 0 0 10px var(--golden-dream), 0 0 20px var(--golden-dream);
        transition: all 1 ease-in-out;
      }
    }
  }
}
