.tree-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 40px;

  .nodes-container {
    width: 1100px;
    height: 282px;
    position: relative;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 48px;


    .tree-node {
      width: 80px;
      height: 80px;
      border-radius: 80px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      background-color: var(--winter-hazel);
      position: absolute;
      color: var(--black-space);

      &#node-0 {
        top: 0;
        left: calc(50% - 25px);
      }

      &#node-1 {
        top: 100px;
        left: calc(50% - 200px);
      }

      &#node-2 {
        top: 100px;
        left: calc(50%  + 150px);
      }

      &#node-3 {
        top: 200px;
        left: calc(50% - 325px);
      }

      &#node-4 {
        top: 200px;
        left: calc(50%  - 75px);
      }

      &#node-5 {
        top: 200px;
        left: calc(50% + 25px);
      }

      &#node-6 {
        top: 200px;
        left: calc(50%  + 275px);
      }

      &.traversed {
        background-color: var(--golden-dream);
      }

      &.selected {
        background-color: var(--blue-stone);
      }
    }
  }

  .visited-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 20px;

    .visited-array {
      position: relative;
      padding: 10px 40px;

      &:before {
        content: "";
        position: absolute;
        top: -8px;
        left: -8px;
        bottom: -8px;
        width: 20px;
        border: 8px solid var(--white-space);
        border-right: none;
        z-index: 1;
        border-radius: 5px 0 0 5px;
      }

      &:after {
        content: "";
        position: absolute;
        top: -8px;
        right: -8px;
        bottom:-8px;
        width: 20px;
        border: 8px solid var(--white-space);
        border-left:none;
        z-index:1;
        border-radius: 0 5px 5px 0;
      }

      .visited-wrapper {
        min-height: 80px;
        min-width: 80px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        column-gap: 20px;

        .tree-node {
          width: 80px;
          height: 80px;
          border-radius: 80px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          background-color: var(--winter-hazel);
          color: var(--black-space);
          font-family: 'Bebas Neue', sans-serif;
          font-size: 48px;
        }
      }
    }
  }
}
